<div class="container">
  <div class="about-component">
    <h2 class="fontfamily tech-stacks-heading">Tech stacks:</h2>
    <div class="tech-stacks-spacer">
      <div class="row">
        <div class="col d-flex justify-content-center">
          <img src="../../assets/python.svg" class="img-fluid tech-stacks" 
          alt="Python" [@flip1] [@hueRotate1]>
        </div>
        <div class="col d-flex justify-content-center">
          <img src="../../assets/javascript.svg" class="img-fluid tech-stacks" 
          alt="JavaScript" [@flip2] [@hueRotate2]>
        </div>
        <div class="col d-flex justify-content-center">
          <img src="../../assets/nodejs.svg" class="img-fluid tech-stacks" 
          alt="NodeJS" [@flip3] [@hueRotate3]>
        </div>
        <div class="col d-flex justify-content-center">
          <img src="../../assets/nextjs.svg" class="img-fluid tech-stacks" 
          alt="NextJS" [@flip4] [@hueRotate4]>
        </div>
        <div class="col d-flex justify-content-center">
          <img src="../../assets/react.svg" class="img-fluid tech-stacks" 
          alt="React" [@flip5] [@hueRotate5]>
        </div>
        <div class="col d-flex justify-content-center">
          <img src="../../assets/angular.svg" class="img-fluid tech-stacks" 
          alt="Angular" [@flip6] [@hueRotate6]>
        </div>
        <div class="col d-flex justify-content-center">
          <img src="../../assets/tailwindcss.svg" class="img-fluid tech-stacks" 
          alt="Tailwindcss" [@flip7] [@hueRotate7]>
        </div>
        <div class="col d-flex justify-content-center">
          <img src="../../assets/vscode.svg" class="img-fluid tech-stacks" 
          alt="VSCode" [@flip8] [@hueRotate8]>
        </div>
      </div>
    </div>
  </div>
</div>