<div class="section" id="contact">
  <h2 class="footer-heading fontfamily">Get in touch!</h2>
  <p>I'm constantly looking for opportunities. 
    Feel free to drop me a message or email me.</p>
  <div class="row">
    <div class ="col mx-auto d-block">
      <ul class="list-group border-remove">
        <li class="list-group-item border-remove">
          <form class="row g-3">
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Name (required)</label>
              <input type="name" class="form-control" id="inputName">
            </div>
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label">Email (required)</label>
              <input type="email" class="form-control" id="inputEmail">
            </div>
            <div class="col-12">
              <label for="inputAddress" class="form-label">Message</label>
              <textarea class="form-control" placeholder="Your message here..."></textarea>
            </div>
          </form>
        </li>
      </ul>
    </div>
  </div>
</div>