<div class="section" id="skills">
  <h2 class="heading fontfamily">Qualifications:</h2>
  <div class="row">
    <div class ="col mx-auto">
      <ul class="list-group">
        <li class="list-group-item">
          <h5 class="subheading fontfamily">President's Lister</h5>
          <p>Holy Angel University<br/>
            BS in Information Technology Major in Web Development<br/>
            2020-Present
          </p>
        </li>
        <li class="list-group-item">
          <h5 class="subheading fontfamily">Dean's Lister</h5>
          <p>Holy Angel University<br/>
            BS in Information Technology Major in Web Development<br/>
            2019-2020
          </p>
        </li>
      </ul>
    </div>
    <div class ="col mx-auto">
      <ul class="list-group">
        <li class="list-group-item">
          <h5 class="subheading fontfamily">With Honors</h5>
          <p>Angeles City Science High School<br/>
            Science, Technology, Engineering, and Mathematics (STEM)<br/>
            2017-2019
          </p>
        </li>
        <li class="list-group-item">
          <h5 class="subheading fontfamily">With Honors</h5>
          <p>Claro M. Recto Information and Communication Technology High School<br/>
            Took Computing subjects, Junior High School<br/>
            2013-2017
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>