<div class="section" id="portfolio">
  <h2 class="heading fontfamily">Some things I've built</h2>
  <div class="row">
    <div class="col">
      <div class="portfolio-card">
        <img src="../../assets/proj/startup.png" class="img img-responsive">
      </div>
      <div class="proj-contents">
        <h5 class="proj-head subheading fontfamily">
          Start Up CRUD MEVN Website
        </h5>
        <p>A website built using MEVN stack with CRUD functionalities.</p>
      </div>
    </div>
    <div class="col">
      <div class="portfolio-card">
        <img src="../../assets/proj/lacalle.png" class="img img-responsive">
      </div>
      <div class="proj-contents">
        <h5 class="proj-head subheading fontfamily">
          La Calle Cafe Website
        </h5>
        <p>A Wordpress website built with SEO analytics and capabilities.</p>
      </div>
    </div>
    <div class="col">
      <div class="portfolio-card">
        <img src="../../assets/proj/haulibrary.png" class="img img-responsive">
      </div>
      <div class="proj-contents">
        <h5 class="proj-head subheading fontfamily">
          Hau Library using MongoDB PHP
        </h5>
        <p>A website built to test MongoDB PHP connections.</p>
      </div>
    </div>
    <div class="col">
      <div class="portfolio-card">
        <img src="../../assets/proj/e-library.png" class="img img-responsive">
      </div>
      <div class="proj-contents">
        <h5 class="proj-head subheading fontfamily">
          Login Snippet
        </h5>
        <p>A login snippet featuring CSS and JS capabilities.</p>
      </div>
    </div>
    <div class="col">
      <div class="portfolio-card">
        <img src="../../assets/proj/matchappparel.png" class="img img-responsive">
      </div>
      <div class="proj-contents">
        <h5 class="proj-head subheading fontfamily">
          Matchapparel Clothing Store
        </h5>
        <p>A website designed using Html and CSS only.</p>
      </div>
    </div>
    <div class="col">
      <div class="portfolio-card">
        <img src="../../assets/proj/soc.png" class="img img-responsive">
      </div>
      <div class="proj-contents">
        <h5 class="proj-head subheading fontfamily">
          School of Computing Re-Imagined
        </h5>
        <p>A School of Computing website re-imagined design.</p>
      </div>
    </div>
  </div>
</div>
